.wd-kanbas-navigation {
    background-color: black;
    list-style: none;
    padding: 0px;
    width: 80px;
    margin: 0px;
}

.wd-kanbas-navigation li {
    padding: 10px;
    text-align: center;
    font-size: 0.8em;
    margin-bottom: 10px;
}

.wd-kanbas-navigation li.wd-active  {
    background-color: white;
}
.wd-kanbas-navigation li.wd-active a {
    color: red;
}

.wd-kanbas-navigation li i.fa-user{
    color: gray;
    
}


.wd-kanbas-navigation li a{
    color: white;
    text-decoration: none;
    
}
.wd-kanbas-navigation li i{
    color: red;
    
}