
.wd-edit-inputs .row {
    padding-top: 10px;
}

.wd-flex-grow-1 {
    max-width: 60%;
}

.wd-module-table li {

    border-bottom: 1px solid gray;
    padding-left: 20px;
    height: 50px;
}

.wd-list-group-disabled li {

    border-bottom: 1px solid gray;
    padding-left: 20px;
    height: 75px;
}

.wd-module-table li {
    color: black;
    text-decoration: none;
}
.wd-module-table li i{
    margin: 10px;
    position: relative;
    top: -40px;
}



.wd-module-table li .fa-circle-check{
    color: green;
}

.list-group-item {
    border-radius: 0px;
    --bs-border-radius: 0px;
    height: 80px;
}
.list-group {
    border-radius: 0px;
    --bs-border-radius: 0px;
}


.wd-module-table li h4{
    margin: 0;
    padding: 0;
}

.wd-module-table .wd-total{

    font-size: 0.7em;
}

.wd-module-table h2 {
    border: 1px solid black;
    background-color: lightgray;
    margin: 0;

}
.wd-module-table ul {
    border: 1px solid black;
    margin: 0;
    list-style: none;
    padding: 0px;
}