.wd-search-bars .row {
    padding-bottom: 10px;
}

.table-responsive {
    overflow-x: auto !important;
}

.table-responsive .table-striped {
    overflow-x: auto !important;
}

.table-responsive {
    outline: 1px solid gray;
    font-size: 0.9em;
}

.wd-flex-grow-1 {
    max-width: 78%;
}

.wd-grades-screen {
    max-width: 78%;
    padding-left: 10px;
}