
.wd-assignment-table li {
    border-left: 8px solid green;
    border-bottom: 1px solid gray;
    padding-left: 20px;
}
.wd-assignment-table li {
    border-left: 8px solid green;
    border-bottom: 1px solid gray;
    padding-left: 20px;
}
.wd-assignment-table li  a{
    color: black;
    text-decoration: none;
}
.wd-assignment-table li a i{
    margin: 10px;
    position: relative;
    top: -25px;
}
.wd-assignment-table li a .fa-circle-check{
    color: green;
}

.list-group-item {
    border-radius: 0px;
    --bs-border-radius: 0px;
    height: 80px;
}
.list-group {
    border-radius: 0px;
    --bs-border-radius: 0px;
}


.wd-assignment-table li a h4{
    margin: 0;
    padding: 0;
}

.wd-assignment-table .wd-total{

    font-size: 0.7em;
}

.wd-assignment-table h2 {
    border: 1px solid black;
    background-color: lightgray;
    margin: 0;
   

}
.wd-assignment-table ul {
    border: 1px solid black;
    margin: 0;
    list-style: none;
    padding: 0px;
}

.list-group-item p{
    font-size: 1em;
}

.list-group-item h4 {
    font-size: 1.2em;
}